del {
  color: gray;
}

a {
  color: #0366d6;
  letter-spacing: 2px;
  font-weight: bolder;
}

a:hover {
  border-bottom: 1px solid #0366d6;
}

.active a {
  border-bottom: 1px solid #000;
  color: #000;
}

.main {
  border-left: 1px solid #e1e4e8;
}

.masthead {
  background-color: #fff;
}

.copyright a,
.masthead .menu a,
.post-nav a,
a.list {
  color: #000;
}

.copyright a:hover,
.masthead .menu a:hover,
.post-nav a:hover,
a.list:hover {
  border-bottom: 1px solid #000;
}

.subtitle {
  color: #666;
}

table {
  border-top: 1px solid #666;
}

table,
table thead th {
  border-bottom: 1px solid #666;
}

tfoot,
thead,
tr:nth-child(even) {
  background: #f8f8f8;
}

blockquote {
  border-left: 3px solid #c8c8c8;
  color: #5d5d5d;
}

code {
  background: #e8e8e8;
  color: #000;
}

pre {
  color: #bcbcbc;
}

ins {
  color: #777;
}

img[src$="#border"] {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
}

hr {
  color: #e1e4e8;
}

#Msg {
  background: #ffffe0;
}

#TableOfContents {
  background-color: #f8f8f8;
}

#eof {
  color: #c3c3c3;
}

::selection {
  background: #fefecc;
}

.home .wrapper {
  background: #ddd;
}

main.index {
  background-color: #fff;
}

main.index:hover aside {
  background: #eee;
}

article.index {
  border-top: 2px solid #989898;
  border-bottom: 2px solid #989898;
}

article.index a,
article.index ruby.link,
article.index ruby.link:hover a,
article.index ruby.link:hover rt {
  color: #d59500;
}

article.index ruby.link:hover {
  border-bottom: 1px solid #d59500;
}

@media screen and (max-width:1220px) {

  .masthead .menu .active a,
  .masthead .menu .active a:hover {
    border: 1px solid #000 !important;
  }

  .masthead {
    border-bottom: 1px solid #e1e4e8;
    background-color: #f6f8fa;
  }

  #menu-label:focus,
  #menu-label:hover {
    border: 1px solid #888;
  }

  #menu-label {
    color: #333;
  }
}