body {
  background-color: #ddd;
}

del {
  color: #808080;
}

a {
  letter-spacing: 2px;
  font-weight: bolder;
}

code {
  hyphens: none;
  color: black;
  margin: 0 3px;
  background: #b0b0b0;
  font-size: 13px;
  border-radius: 100px;
  padding: 0px 5px;
  display: inline-block;
  font-family: Consolas, Courier, "Courier New", STKaiti, KaiTi, SimKai, monospace
}

pre {
  color: rgb(188, 188, 188);
  font-size: .95em;
}

pre code {
  margin: 0px;
  border-radius: 0px;
}

iframe,
video {
  max-width: 100%;
  display: block;
  margin: auto;
}

table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
}

pre .nohighlight {
  background-color: transparent;
}

ins {
  color: #777;
  text-decoration: none;
}

img[src$="#border"] {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
}

/* index start */
main.index {
  max-width: 600px;
  margin: 5em auto;
  overflow: hidden;
  padding: 2em;
  transition: 1s;
  background-color: #fff;
}

main.index:hover aside {
  background: #eee;
}

aside.index {
  line-height: 1.6em;
  width: 28%;
  float: left;
  padding: 1em;
  box-sizing: border-box;
  transition: 0.5s;
}

aside.index #logo {
  text-align: center;
}

aside.index img {
  width: 100%;
  display: block;
}

aside.index #name {
  font-weight: bolder;
  font-size: 18px;
  margin: 0.8em 0 1em;
  margin-left: 3px;
  letter-spacing: 3px;
}

aside.index i {
  text-align: center;
}

aside.index #info {
  margin: 0;
  padding: 0;
}

aside.index #info li {
  font-size: 13px;
  list-style: none;
}

aside.index #info i {
  width: 13px;
  height: 13px;
  margin-right: 3px;
  vertical-align: middle;
  display: inline-block;
}

aside.index #info .i-user {
  background: url(/images/i-user.svg) no-repeat;
}

aside.index #info .i-email {
  background: url(/images/i-email.svg) no-repeat;
}

aside.index #info .i-local {
  background: url(/images/i-local.svg) no-repeat;
}

aside.index #info .i-home {
  background: url(/images/i-home.svg) no-repeat;

}

article.index {
  width: 70%;
  float: right;
  letter-spacing: 0.2px;
  border-top: 2px solid #989898;
  border-bottom: 2px solid #989898;
}

footer.index {
  position: fixed;
  bottom: 1em;
  width: 600px;
}

::selection {
  background: #fefecc;
}

@media only screen and (max-width: 668px) {

  main.index {
    margin: 1em;
    padding: 0 1em;
    max-width: 100%;
  }

  aside.index {
    float: none;
    width: 100%;
    background: #eee;
    overflow: hidden;
    margin: 2em auto 1em;
  }

  aside.index #logo {
    float: left;
    width: 28%;
    margin-right: 1em;
  }

  article.index {
    float: none;
    width: 100%;
  }

  footer.index {
    position: static;
    width: auto;
    margin: 1em auto 2em;
  }
}

/* index end */

#utterancesMsg {
  width: 100%;
  border: 1px dashed;
  padding: 0.5em;
  background: lightyellow;
}

#darkmodeTag {
  cursor: pointer;
}

#TableOfContents {
  background-color: #f8f8f8;
  padding: .5em;
}

#svg-404 {
  width: 300px;
}

.menu {
  transition: all 0.5s ease;
}

.menu li:not([class]) a,
a:hover,
.copyright a {
  border-bottom: none;
}

.menu a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  hyphens: manual;
}

.main,
.masthead {
  padding: 1em 40px;
}

.en .main header~p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: .05em;
  font-size: 1.1em;
}

.en .main header~p:first-of-type::first-letter {
  font-size: 3em;
  padding: .1em .1em 0 0;
  float: left;
  line-height: 1em;
}

.hljs-comment {
  font-style: inherit;
}

.hljs {
  padding: 1em;
}

.home hr {
  margin: 2em auto 1em;
}

.masthead img {
  max-width: 166px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home blockquote,
.cn blockquote:not(:hover) {
  border-left-color: transparent;
}

.slogan {
  display: block;
  font-size: 100%;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, STKaiti, KaiTi, '楷体', SimKai, DFKai-SB, NSimSun, serif;
}

.blog blockquote,
.home blockquote {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, STKaiti, KaiTi, '楷体', SimKai, DFKai-SB, NSimSun, serif
}

@media screen and (min-width: 1220px) {

  .masthead {
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 1220px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2em auto 1.5em auto;
  }

  .title h2,
  .title h3 {
    margin: 1.5em auto;
  }

  .main .title h1 {
    margin: 1em auto 0 auto;
  }

  .title hr {
    margin: 2em auto;
  }

  .masthead .menu {
    max-width: inherit;
  }

  .masthead h1 {
    margin-bottom: 10px;
  }

  .masthead .menu ul {
    text-align: center;
  }

  .masthead .menu a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .masthead .menu button {
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 28.5px;
  }


  .masthead .menu .active a {
    background: none;
    border: 1px solid #444;
  }

  .masthead .menu li,
  .masthead .menu li:first-child {
    border: none;
    display: inline-block;
    margin-top: 5px;
  }

  .masthead .menu .menu-extra {
    display: none;
  }

  #icp {
    display: block;
    font-size: 15px;
  }
}

@media print {

  del,
  footer,
  .masthead {
    display: none;
  }

  .paramount {
    max-width: 700px;
  }

  .main {
    margin-left: 0;
    border-left: none;
    padding-left: 10px;
  }
}