body,
button {
  font-family: 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', serif;
}

code {
  font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
}

.slogan {
  font-family: '楷体';
}

#eof {
  font-family: Microsoft Yahei, sans-serif;
}

#TableOfContents {
  font-family: auto;
}

/* font-size */
html {
  font-size: 100%;
}

button,
input,
select,
textarea,
label {
  font-size: inherit;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3,
h4,
h5,
h6 {
  font-size: 17px;
}

blockquote {
  font-size: 80%;
}

.copyright {
  font-size: 12px;
}

.subtitle {
  font-size: .9em;
}

pre,
code {
  font-size: 13px;
}

.slogan {
  font-size: 100%;
}

#TableOfContents .topUlChild {
  font-size: 20px;
}

#TableOfContents .secondaryUlChild {
  font-size: 15px;
  font-weight: normal;
}

#TableOfContents .thirdUlChild {
  font-size: 10px;
  font-weight: normal;
}

#TableOfContents .small {
  font-size: 12px;
  font-weight: normal;
}

/* 首页 */
aside.index #name {
  font-size: 18px;
}

aside.index #info li {
  font-size: 12px;
}

/* 移动端 font-size */
@media screen and (max-width: 600px) {
  /* TODO 定义 font-size */
}