body,
button {
  font-family:
    'source-han-serif-sc',
    'Source Han Serif SC',
    'Source Han Serif CN',
    'Source Han Serif TC',
    'Source Han Serif TW',
    'Source Han Serif',
    'Songti SC',
    'Microsoft YaHei',
    'Times New Roman',
    'times',
    serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

code {
  font-family: Consolas, Courier, 'Courier New', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}

.slogan {
  font-family: '楷体', cursive;
  font-size: 100%;
}

#eof {
  font-family: Microsoft Yahei, sans-serif;
}

#TableOfContents {
  font-family: inherit;
}

/* font-size */
html,
body {
  font-size: 100%;
  font-weight: normal;
}

strong {
  font-weight: bolder;
}

button,
input,
select,
textarea,
label {
  font-size: inherit;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3,
h4,
h5,
h6 {
  font-size: 17px;
}

blockquote {
  font-size: 80%;
}

.copyright {
  font-size: 12px;
}

.subtitle {
  font-size: 0.9em;
}

pre,
code {
  font-size: 13px;
}

.image-description {
  font-size: 12px;
}

.list .summary {
  font-size: 80%;
  font-weight: 100;
}

/* 文章目录 */
#TableOfContents .topUlChild {
  font-size: 20px;
}

#TableOfContents .secondaryUlChild {
  font-size: 15px;
  font-weight: normal;
}

#TableOfContents .thirdUlChild {
  font-size: 10px;
  font-weight: normal;
}

#TableOfContents .small {
  font-size: 12px;
  font-weight: normal;
}

/* 首页 */
aside.index #name {
  font-size: 18px;
}

aside.index #info li {
  font-size: 12px;
}

/* 移动端 font-size */
@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 13px;
  }

  blockquote {
    font-size: 60%;
  }

  .copyright {
    font-size: 10px;
  }

  .subtitle {
    font-size: 0.7em;
  }

  pre,
  code {
    font-size: 10px;
  }

  .slogan {
    font-size: 80%;
  }

  .image-description {
    font-size: 10px;
  }

  /* 首页 */
  aside.index #name {
    font-size: 14px;
  }

  aside.index #info li {
    font-size: 10px;
  }
}
