body,
html {
    background-color: #181818;
}

body {
    color: #979797;
}

hr {
    color: #343434;
}

.main {
    border-left: 1px solid #343434;
}

a {
    color: #4183c4;
}

a:hover {
    border-bottom: 1px solid #4183c4;
}

.copyright a {
    color: #979797;
}

del {
    color: #777;
}

img {
    filter: brightness(80%);
}

code {
    background: #303030;
    color: #737373;
}

code.hljs {
    background: #202020;
    color: #b1b1b1;
}

.hljs span {
    filter: brightness(90%);
}

blockquote {
    border-left: 3px solid #414141;
    color: #777;
}

::selection {
    background: #27673d;
}

.masthead {
    background-color: #181818;
}

.copyright a,
.masthead .menu a,
.post-nav a,
a.list {
    color: #979797;
}

.copyright a:hover,
.masthead .menu a:hover,
.post-nav a:hover,
a.list:hover {
    border-bottom: 1px solid #979797;
}

.masthead .menu .active a {
    border-bottom: 1px solid #a0a0a0;
    color: #a0a0a0;
}

#eof {
    color: #434343;
}

@media screen and (max-width:1220px) {
    .masthead {
        border-bottom: 1px solid #343434;
        background-color: #202020;
    }

    .masthead .menu .active a,
    .masthead .menu .active a:hover {
        border: 1px solid #a0a0a0 !important;
    }
}

.home .wrapper {
    background: #181818;
}

main.index {
    background-color: #202020;
}

main.index:hover aside {
    background: #181818;
}

article.index {
    border-top: 2px solid #4c4c4c;
    border-bottom: 2px solid #4c4c4c;
}

@media only screen and (max-width:668px) {
    aside.index {
        background: #181818;
    }
}