/* 首页 */
[theme='github-light'] {
  --html-index-bg-color: #efefef;
  --body-index-bg-color: #efefef;
  --main-index-bg-color: #fff;
  --article-index-bg-color: #fff;
  --article-index-button-bg-color: #fff;
  --article-index-border-color: #e1e4e8;
}

[theme='github-dark'] {
  --html-index-bg-color: #181818;
  --body-index-bg-color: #181818;
  --main-index-bg-color: #202020;
  --article-index-bg-color: #202020;
  --article-index-button-bg-color: #202020;
  --article-index-border-color: #343434;
}

[theme='github-dark-orange'] {
  --html-index-bg-color: #222;
  --body-index-bg-color: #222;
  --main-index-bg-color: #2d2833;
  --article-index-bg-color: #2d2833;
  --article-index-button-bg-color: #2d2833;
  --article-index-border-color: #6f6e6e;
}

[theme='dark-blue'] {
  --html-index-bg-color: #14171c;
  --body-index-bg-color: #14171c;
  --main-index-bg-color: #182030;
  --article-index-bg-color: #182030;
  --article-index-button-bg-color: #182030;
  --article-index-border-color: #2b3137;
}

[theme='icy-dark'] {
  --html-index-bg-color: #021012;
  --body-index-bg-color: #021012;
  --main-index-bg-color: #06272c;
  --article-index-bg-color: #06272c;
  --article-index-button-bg-color: #06272c;
  --article-index-border-color: #10444d;
}

[theme='photon-dark'] {
  --main-index-bg-color: #2a2a2e;
  --article-index-bg-color: #2a2a2e;
  --article-index-button-bg-color: #2a2a2e;
  --article-index-border-color: #38383d;
}

html.home {
  background-color: var(--html-index-bg-color);
}

.home body {
  background-color: var(--body-index-bg-color);
}

main.index {
  max-width: 610px;
  padding: 2em;
  margin: 5em auto;
  overflow: auto;
  background-color: var(--main-index-bg-color);

  /* transition: 1s ease; */
}

aside.index {
  box-sizing: border-box;
  float: left;
  width: 28%;
  padding: 1em;
  line-height: 1.6em;

  /* transition: .5s ease; */
}

aside.index #logo {
  text-align: center;
}

main.index aside.index img {
  display: block;
  width: 100%;
  height: auto;
}

aside.index #name {
  margin: 0.8em 0 1em;
  margin-left: 3px;
  font-weight: bolder;
  letter-spacing: 3px;
}

article.index h3 {
  margin-top: 34px;
}

article.index h1:hover .anchor,
article.index h2:hover .anchor,
article.index h3:hover .anchor {
  display: none;
}

aside.index i {
  text-align: center;
}

aside.index #info {
  min-width: 124px;
  padding: 0;
  margin: 0;
  letter-spacing: 1.2px;
}

aside.index #info li {
  list-style: none;
}

article.index a {
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

article.index rt {
  font-weight: bolder;
}

article.index button {
  background: linear-gradient(var(--article-index-button-bg-color), var(--article-index-button-bg-color));
}

article.index a,
article.index button,
article.index ruby.link,
article.index button:hover,
article.index ruby.link:hover a,
article.index ruby.link:hover rt {
  color: var(--a-color);
}

article.index ruby.link a:hover {
  border-bottom: 1px solid var(--a-color);
}

aside.index #info .info-text a {
  font-weight: initial;
  color: var(--body-color);
}

aside.index #info .info-text a:hover {
  color: var(--a-color);
}

aside.index #info .fa-svg {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  vertical-align: middle;
  fill: currentColor;
}

aside.index #info .info-text {
  vertical-align: middle;
}

article.index {
  float: right;
  width: 70%;
  padding-bottom: 18px;
  background-color: var(--article-index-bg-color);
  border-top: 1px solid var(--article-index-border-color);
  border-bottom: 1px solid var(--article-index-border-color);
}

article.index ruby.link:hover {
  padding-bottom: 2px;
}

footer.index {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  background: var(--wrapper-bg-color);
}

main.index:hover aside {
  background: var(--aside-hover-bg-color);
}

/* article.index a,
article.index button,
article.index ruby.link {
  color: var(--html-color);
} */
