 /* 根元素
  <html>
 */
 html {
     color: #fff;
     background-color: #232326;
 }

 /* 章节
 <body> <section> <nav> <article> <aside> <h1*6> <header> <footer> <address> <main>
*/
 body {
     color: #fff;
     background-color: #232326;
 }

 /* 组织内容
 <p> <hr> <pre> <blockquote> <ol> <ul> <li> <dl> <dt> <dd> <figure> <figcaption> <div>
*/
 hr {
     color: #313136;
 }

 blockquote {
     color: #6a737d;
     border-left: 0.25em solid #44444a;
 }

 /* 文字形式
 <a> <em> <strong> <small> <s> <cite> <q> <dfn> <abbr> <time> <code> <var> <samp> <kbd>
 <sub> <sup> <i> <b> <u> <mark> <ruby> <rt> <rp> <bdi> <bdo> <span> <br> <wbr> 
*/
 a {
     color: #45a1ff;
 }

 a:hover {
     border-bottom: 1px solid #45a1ff;
 }

 .copyright a {
     color: #f7f7f7;
 }

 a.list,
 .post-nav a,
 .copyright a,
 .menu button,
 .masthead .menu a,
 #TableOfContents li {
     color: #f7f7f7;
 }

 a.list:hover,
 .post-nav a:hover,
 .copyright a:hover,
 .masthead .menu a:hover,
 .masthead .menu .active a:hover {
     color: #45a1ff;
     border-bottom: 1px solid #45a1ff;
 }

 .menu button:hover {
     color: #45a1ff;
 }

 #TableOfContents>ul li:hover {
     color: #45a1ff;
 }

 .masthead .menu .active a {
     border-bottom: 1px solid #f7f7f7;
 }

 code {
     color: #dddddd;
     background-color: #212121;
 }

 code.hljs {
     background: #2a2a2e;
     color: #fff;
 }

 .hljs span {
     filter: brightness(90%);
 }

 /* 编辑
 <ins> <del>
*/
 ins {
     color: #6f6e6e;
 }

 del {
     color: #7a7a7a;
 }

 /* 嵌入内容
 <img> <iframe> <embed> <object> <param> <video> <audio> <source> <track> <canvas> <map>
 <area> <area> <map> <svg> <math>
*/
 img {
     filter: brightness(80%);
 }

 /* 表格
 <table> <caption> <colgroup> <col> <tbody> <thead> <tfoot> <tr> <td> <th>
*/
 thead {
     background-color: #2a2a2e;
 }

 table tr:nth-child(2n) {
     background-color: #2a2a2e;
 }

 td,
 th {
     border: 1px solid #44444a;
 }

 /* 表单
 <form> <fieldset> <legend> <label> <input> <button> <select> <datalist> <optgroup> <option>
 <select> <textarea> <keygen> <output> <progress> <meter>
*/

 /* 交互元素
 <details> <summary> <menuitem> <menu>
*/

 /* 选择器 class id  */
 .main {
     border-left: 1px solid #313136;
 }

 .masthead {
     background: #232326;
 }

 .menu button {
     background: linear-gradient(#232326, #232326);
 }

 #eof {
     color: #313136;
 }

 .home .wrapper {
     background: #232326;
 }

 /* 伪类 */
 ::selection {
     background: #45a1ff;
     color: #f7f7f7;
 }

 :focus {
     outline: none;
     box-shadow: 0 0 0em 0.1em #45a1ff;
     border-radius: 1px;
 }

 /* 首页 */
 main.index {
     background-color: #2a2a2e;
 }

 article.index button {
     background: linear-gradient(#2a2a2e, #2a2a2e);
 }

 main.index:hover aside {
     background: #232326;
 }

 article.index {
     border-top: 2px solid #38383d;
     border-bottom: 2px solid #38383d;
 }

 article.index a,
 article.index button,
 article.index ruby.link,
 article.index ruby.link:hover a,
 article.index ruby.link:hover rt {
     color: #45a1ff;
 }

 article.index ruby.link a:hover {
     border-bottom: 1px solid #45a1ff;
 }

 @media only screen and (max-width:668px) {
     aside.index {
         background: #232326;
     }
 }

 /* 移动端与 PC 端适配 */
 @media screen and (max-width:1220px) {
     .masthead {
         border-bottom: 1px solid #38383d;
         background: #182030;
     }

     .menu button {
         background: linear-gradient(#182030, #182030);
     }

     .masthead .menu .active a,
     .masthead .menu .active a:hover {
         border: 1px solid #38383d !important;
     }

     .main {
         border: none;
     }
 }