@media print {
  :root {
    --html-color: #000;
    --html-bg-color: #fff;
    --body-color: #000;
    --body-bg-color: #fff;
    --article-bg-color: #fff;
    --hr-color: #e1e4e8;
    --blockquote-color: #5d5d5d;
    --blockquote-border-color: #c8c8c8;
    --a-color: #000;
    --code-color: #000;
    --code-bg-color: #ebedf0;
    --code-highlight-bg-color: #272827;
    --code-highlight-color: #f8f8f2;
    --ins-color: #777;
    --del-color: gray;
    --thead-bg-color: #f6f8fa;
    --table-border-color: #e1e4e8;
    --main-border-color: #e1e4e8;
    --masthead-bg-color: #fff;
    --menu-button-bg-color: #fff;
    --fixed-btn-bg-color: #f6f8fa;
    --fixed-btn-border-color: #e1e4e8;
    --eof-color: #777;
    --wrapper-bg-color: #efefef70;
    --selection-bg-color: #fefecc;
    --aside-hover-bg-color: #efefef;
    --min-masthead-bg-color: #f6f8fa70;
    --min-menu-a-border-color: #e1e4e8;
    --list-bg-color: #ececec;
  }

  #TableOfContents,
  #fixed-button,
  #eof,
  .masthead,
  del,
  footer,
  .notPrint {
    display: none !important;
  }

  hr#beginning {
    /* display: none !important; */
    margin: 16px auto;
  }

  .anchor {
    display: none !important;
  }

  .print {
    display: initial;
  }

  .print-li {
    display: list-item;
  }

  .paramount {
    max-width: 700px;
    padding-top: 0;
  }

  .main {
    padding-top: 0;
    margin: auto;
    border: none !important;
  }

  :focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 16px auto;
  }

  .title > h1 {
    /* display: none !important; */
    margin-bottom: 0 !important;
    font-size: 24px;
  }

  .print-page-break {
    display: block;
    height: 0;
    margin: 0;
    visibility: hidden;
    page-break-after: always;
  }
}
