 /* 根元素
  <html>
 */
 html {
   /* filter: grayscale(1); */
   box-sizing: border-box;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
 }

 *,
 :after,
 :before {
   box-sizing: inherit;
 }

 body,
 button,
 input,
 label,
 select,
 textarea {
   margin: 0;
   padding: 0;
 }

 /* 章节
  <body> <section> <nav> <article> <aside> <h1*6> <header> <footer> <address> <main>
 */
 body,
 button {
   letter-spacing: 1.5px;
   line-height: 1.75;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   margin: 60px 0 30px;
   padding: 0;
   text-align: center;
   line-height: 1.25;
 }

 h1:hover .anchor,
 h2:hover .anchor,
 h3:hover .anchor {
   display: inline-block;
   margin-right: -23px;
   transform: initial;
   width: 23px;
 }

 h1 {
   font-weight: bolder;
 }

 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 700;
 }

 h3,
 h4,
 h5,
 h6 {
   text-align: left;
 }

 .main .title h1 {
   margin-top: 0;
   margin-bottom: 40px;
 }

 .title h3 {
   text-align: center;
   font-weight: 400;
 }

 main {
   display: block;
 }

 /* 组织内容
  <p> <hr> <pre> <blockquote> <ol> <ul> <li> <dl> <dt> <dd> <figure> <figcaption> <div>
 */
 blockquote {
   margin: 1em 0;
   padding: 0 2em;
 }

 .home blockquote {
   border-left-color: transparent;
 }

 ol,
 ul {
   padding: 0 0 0 20px;
 }

 li {
   margin: 4px 0;
   padding: 0;
 }

 .masthead .menu ul ul {
   margin-right: 10px;
   margin-left: 10px;
   list-style: none;
 }

 .masthead .menu li li:before {
   content: "•\00a\000a0\00a0";
 }

 .home hr {
   margin: 2em auto 1em;
 }

 /* 文字形式
  <a> <em> <strong> <small> <s> <cite> <q> <dfn> <abbr> <time> <code> <var> <samp> <kbd>
  <sub> <sup> <i> <b> <u> <mark> <ruby> <rt> <rp> <bdi> <bdo> <span> <br> <wbr>
 */
 pre code {
   display: block;
   overflow-x: auto;
   margin: 0;
   padding: 1em;
   border-radius: 0;
   line-height: 1.75;
 }

 code {
   margin: 0;
   padding: .2em .4em;
   border-radius: 3px;
   hyphens: none;
 }

 a {
   padding-bottom: 2px;
   text-decoration: none;
   font-weight: bolder;
 }

 sup a {
   letter-spacing: initial;
 }

 hr,
 sup a {
   padding: 0;
 }

 .copyright a {
   padding: 0;
 }

 .masthead .menu a {
   direction: ltr;
 }

 hr {
   display: block;
   margin: 50px auto;
   height: 1px;
   max-width: 300px;
   border: 0;
   border-top: 1px solid;
 }

 /* 编辑
  <ins> <del>
 */
 ins {
   text-decoration: none;
 }

 /* 嵌入内容
  <img> <iframe> <embed> <object> <param> <video> <audio> <source> <track> <canvas> <map>
  <area> <area> <map> <svg> <math>
 */
 img {
   max-width: 100%;
   border-radius: 0;
 }

 /* img::before {
   content: "";
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #f0f3f9;
 }

 img::after {
   content: "图片信息："attr(alt);
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   line-height: 30px;
   background-color: rgba(0, 0, 0, .5);
   color: white;
   font-size: 14px;
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 } */

 .masthead img {
   max-width: 166px;
 }

 iframe,
 video {
   display: block;
   margin: auto;
   max-width: 100%;
 }

 /* 表格
  <table> <caption> <colgroup> <col> <tbody> <thead> <tfoot> <tr> <td> <th>
 */
 table {
   margin: auto;
   max-width: 100%;
   min-width: 50%;
   border-spacing: 0;
   border-collapse: collapse;
 }

 td,
 th {
   padding: 5px;
 }

 /* 表单
  <form> <fieldset> <legend> <label> <input> <button> <select> <datalist> <optgroup> <option>
  <select> <textarea> <keygen> <output> <progress> <meter>
 */

 button {
   border: none;
   cursor: pointer;
   font-weight: bolder;
   text-decoration: none;
 }

 /* 交互元素
  <details> <summary> <menuitem> <menu>
 */

 /* 选择器 class id  */
 .anchor {
   display: none;
 }

 .anchor .fa-svg {
   vertical-align: middle;
   fill: currentColor;
   width: 24px;
   height: 24px;
 }

 .ie.copyright {
   position: fixed;
   bottom: .5em;
   width: 245px;
 }

 .copyright {
   text-align: center;
 }

 .copyright .travelling-link {
   border: none !important;
 }

 .copyright .travelling {
   vertical-align: middle;
   display: inline-block;
   fill: currentColor;
   height: 17px;
 }

 .copyright .beian {
   display: inline-block;
   height: 20px;
   line-height: 20px;
   font-weight: 100;

 }

 .copyright .beian img {
   height: 17px;
   vertical-align: middle;
 }

 .copyright .beian a {
   vertical-align: middle;
 }

 .post-nav {
   display: flex;
   margin-top: 25px;
   font-weight: 700;
   justify-content: space-between;
 }

 .nav-next {
   margin-left: 1em;
   text-align: right;
 }

 .nav-prev {
   margin-right: 1em;
 }

 .comments {
   margin-top: 20px;
 }

 .ie.paramount {
   width: 300px !important;
 }

 .paramount {
   margin: 0 auto;
   padding: 30px 0;
   width: 1220px;
 }

 .masthead {
   float: left;
   padding: 20px 50px 20px 10px;
   width: 260px;
 }

 .main {
   margin-left: 260px;
   padding: 32px 10px 20px 50px;
   width: 700px;
   min-height: calc(100vh - 60px);
 }

 .masthead .menu {
   margin-right: 20px;
   direction: rtl;
 }

 /* .menu {
   transition: all .5s ease;
 } */

 .main {
   hyphens: manual;
 }

 .main,
 .masthead {
   padding: 1em 40px;
 }

 .home .wrapper {
   position: fixed;
   overflow: auto;
   width: 100%;
   height: 100%;
 }

 .highlight div {
   background-color: initial !important;
 }

 /* pre .nohighlight {
   background-color: transparent;
 } */

 /* #Msg {
   padding: .5em;
   width: 100%;
   border: 1px dashed;
 } */

 .hljs-comment {
   font-style: inherit;
 }

 .hljs {
   padding: 1em;
 }

 .slogan {
   display: block;
 }

 .print {
   display: none;
 }

 #eof:before {
   margin-right: 10px;
   content: '/*';
 }

 #eof:after {
   margin-left: 10px;
   content: '*/';
 }

 #eof {
   margin: 2em auto;
   text-align: center;
   font-weight: 100;
   line-height: 1em;
 }

 #TableOfContents {
   position: fixed;
   right: 40px;
   top: 0px;
   margin: 24px 0px;
   overflow: auto;
 }

 #TableOfContents>ul {
   padding-left: 18px !important;
   margin: 0;
 }

 #TableOfContents:hover p {
   opacity: 1;
 }

 #TableOfContents ul {
   padding: 0px;
   list-style: none;
 }

 #TableOfContents li {
   margin: 0;
 }

 #TableOfContents p {
   width: 100%;
   transition: opacity .5s ease-in;
   /* opacity: 0; */
   cursor: pointer;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   display: inline-block;
   vertical-align: bottom;
   margin: 0px;
 }

 /* #TableOfContents li p.show {
   opacity: 1;
 } */

 #TableOfContents::-webkit-scrollbar {
   height: 8px;
   width: 8px;
 }

 #TableOfContents::-webkit-scrollbar-corner {
   background: 0;
 }

 #TableOfContents::-webkit-scrollbar-thumb {
   background: rgba(128, 134, 139, .26);
   border-radius: 8px;
 }

 #TableOfContents .topUlChild,
 #TableOfContents .secondaryUlChild,
 #TableOfContents .thirdUlChild {
   margin-right: 5px;
   vertical-align: middle;
 }

 p.billibili {
   overflow: hidden;
 }

 iframe.billibili {
   width: 100%;
   height: 480px;
   margin-bottom: -38px;
 }

 .image-description {
   margin: 0px 15px 32px;
   line-height: 17px;
   text-align: center;
   opacity: 0.7;
 }

 #fixed-button {
   position: fixed;
   bottom: 40px;
   right: 40px;
   z-index: 1000;
   padding: 0px 3px;
 }

 #fixed-button .btn-box {
   display: block;
   margin: 10px 0;
 }

 #fixed-button button {
   letter-spacing: normal;
   border-radius: 50%;
   width: 34px;
   height: 34px;
 }

 #fixed-button a {
   text-align: center;
   display: block;
   letter-spacing: normal;
   padding: 0;
   border-radius: 50%;
   width: 34px;
   height: 34px;
 }

 #fixed-button .writeFixed a {
   /* 不随主题改变 */
   color: #bd0d00;
 }

 #fixed-button .writeFixed a:hover {
   /* 不随主题改变 */
   color: #ff655b;
 }

 button .fa-svg,
 a .fa-svg {
   display: inline-block;
   fill: currentColor;
   width: 13px;
   height: 32px;
 }

 @media only screen and (max-width:545px) {
   iframe.billibili {
     --width: calc(100vw - 50px);
     height: calc(var(--width)/1.75);
     margin: 0;
   }
 }

 /* 伪类 */

 /* 首页 */
 main.index {
   overflow: auto;
   margin: 5em auto;
   padding: 2em;
   max-width: 610px;
   /* transition: 1s ease; */
 }

 aside.index {
   float: left;
   box-sizing: border-box;
   padding: 1em;
   width: 28%;
   line-height: 1.6em;
   /* transition: .5s ease; */
 }

 aside.index #logo {
   text-align: center;
 }

 aside.index img {
   display: block;
   width: 100%;
 }

 aside.index #name {
   margin: .8em 0 1em;
   margin-left: 3px;
   letter-spacing: 3px;
   font-weight: bolder;
 }

 article.index h3 {
   margin-top: 34px;
   margin-bottom: auto;
 }

 article.index h1:hover .anchor,
 article.index h2:hover .anchor,
 article.index h3:hover .anchor {
   display: none;
 }

 aside.index i {
   text-align: center;
 }

 aside.index #info {
   margin: 0;
   padding: 0;
   letter-spacing: 1.2px;
   min-width: 124px;
 }

 aside.index #info li {
   list-style: none;
 }

 aside.index #info .fa-svg {
   display: inline-block;
   fill: currentColor;
   vertical-align: middle;
   width: 12px;
   height: 12px;
   margin-right: 5px;
 }

 aside.index #info .info-text {
   vertical-align: middle;
 }

 article.index {
   float: right;
   padding-bottom: 18px;
   width: 70%;
 }

 article.index a {
   text-decoration: none;
   display: block;
   text-align: center;
   border-bottom: 1px solid transparent;
 }

 article.index rt {
   font-weight: bolder;
 }

 article.index ruby.link:hover {
   padding-bottom: 2px;
 }

 footer.index {
   position: absolute;
   bottom: 10px;
   width: 100%;
   left: 0px;
 }

 @media only screen and (max-width:668px) {
   main.index {
     margin: 25px;
     padding: 0 1em;
     max-width: 100%;
   }

   aside.index {
     float: none;
     overflow: hidden;
     margin: 2em auto 1em;
     width: 100%;
     display: flex;
     align-items: center;
   }

   aside.index #logo {
     float: left;
     margin-right: 1em;
     width: 28%;
   }

   article.index {
     float: none;
     width: 100%;
   }

   footer.index {
     position: static;
     margin: 1em auto 2em;
     width: auto;
   }
 }

 /* 移动端与 PC 端适配 */
 @media screen and (min-width:1220px) {
   :target {
     padding-top: 60px;
     margin-top: 0;
   }

   .masthead {
     position: sticky;
     top: 0;
   }
 }

 /* 侧边目录 */
 @media screen and (max-width:1250px) {
   #TableOfContents {
     display: none;
   }
 }

 @media screen and (max-width:1220px) {
   :target {
     margin-top: 0;
     padding-top: 79px;
   }

   .paramount {
     padding-top: 58px;
     padding-bottom: 0;
     width: auto;
     max-width: 700px;
   }

   .masthead {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     float: none;
     margin: 0;
     padding: 5px 0 10px !important;
     width: 100%;
     text-align: center;
     /* transition: all .5s ease; */
   }

   .main {
     margin-left: 0;
     padding: 40px 25px;
     width: auto;
     min-height: auto;
   }

   .masthead .menu {
     margin: auto;
     direction: ltr;
   }

   .masthead .menu ul {
     margin: 0;
     padding: 0;
     text-align: left;
   }

   .masthead .menu ul ul {
     margin: 0;
   }

   .masthead .menu li {
     margin: 0;
     padding: 0;
     border-bottom: 1px solid;
     list-style: none;
   }

   .masthead .menu li:first-child {
     border-top: 1px solid;
   }

   .masthead .menu a,
   .masthead .menu li li:last-child {
     border-bottom: none;
   }

   .masthead .menu a {
     display: block;
     padding: 15px 20px;
   }

   .masthead .menu li li a {
     padding-left: 30px;
   }

   .masthead .menu li li:before {
     content: none;
   }

   .masthead .menu li li a:before {
     content: "•\00a0\00a0\00a0";
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     margin: 2em auto 1.5em;
   }

   .title h2,
   .title h3 {
     margin: 1.5em auto;
   }

   .main .title h1 {
     margin: 1em auto 0;
   }

   .title hr {
     margin: 2em auto;
   }

   .masthead .menu {
     max-width: inherit;
   }

   .masthead .menu ul {
     text-align: center;
   }

   .masthead .menu a {
     display: inline-block;
     padding: 5px 10px;
     border-radius: 5px;
   }

   .masthead .menu a:hover {
     border-bottom: none !important;
   }

   .masthead .menu button {
     padding: 5px 10px;
     border-radius: 5px;
     line-height: 28.5px;
   }

   .masthead .menu li,
   .masthead .menu li:first-child {
     display: inline-block;
     margin-top: 5px;
     border: none;
   }

   .masthead .menu .menu-extra {
     display: none;
   }
 }

 .print-page-break {
   display: none;
 }

 /* 媒体 */
 @media print {

   #TableOfContents,
   #fixed-button,
   #eof,
   .masthead,
   del,
   footer,
   .notPrint {
     display: none !important;
   }

   .print {
     display: initial;
   }

   .paramount {
     max-width: 700px;
   }

   .main {
     margin: auto;
     border: none !important;
   }

   :focus {
     outline: none !important;
     box-shadow: none !important;
   }

   a {
     color: initial !important;
     text-decoration: none;
   }

   .title>h1 {
     font-size: 35px;
   }

   .print-page-break {
     display: block;
     visibility: hidden;
     page-break-after: always;
   }
   h1, h2, h3, h4, h5, h6 {
    margin: 1em auto 1em;
}
 }

 /* 主题 */
 [theme=github-light] {
   --html-color: #000;
   --html-background-color: #fff;
   --body-color: #000;
   --body-background-color: #fff;
   --article-background-color: #fff;
   --hr-color: #e1e4e8;
   --blockquote-color: #5d5d5d;
   --blockquote-border-color: #c8c8c8;
   --a-color: #d59500;
   --code-color: #f8f8f2;
   --code-background-color: #272822;
   --code-hljs-background-color: #f8f8f8;
   --code-hljs-color: #333;
   --ins-color: #777;
   --del-color: gray;
   --thead-background-color: #f6f8fa;
   --table-border-color: #e1e4e8;
   --main-border-color: #e1e4e8;
   --masthead-background-color: #fff;
   --menu-button-background-color: #fff;
   --fixed-button-background-color: #f6f8fa;
   --fixed-button-border-color: #e1e4e8;
   --eof-color: #c3c3c3;
   --wrapper-background-color: #efefef;
   --selection-background-color: #fefecc;
   --aside-hover-background-color: #efefef;
   --main-index-background-color: #fff;
   --article-index-background-color: #fff;
   --article-index-button-background-color: #fff;
   --article-index-border-color: #e1e4e8;
   --min-masthead-background-color: #f6f8fa;
   --min-menu-a-border-color: #e1e4e8;
 }

 [theme=github-dark] {
   --html-color: #979797;
   --html-background-color: #181818;
   --body-color: #979797;
   --body-background-color: #181818;
   --article-background-color: #181818;
   --hr-color: #343434;
   --blockquote-color: #777;
   --blockquote-border-color: #414141;
   --a-color: #4183c4;
   --code-color: #737373;
   --code-background-color: #303030;
   --code-hljs-background-color: #202020;
   --code-hljs-color: #b1b1b1;
   --ins-color: #666666;
   --del-color: #777;
   --thead-background-color: #202020;
   --table-border-color: #343434;
   --main-border-color: #343434;
   --masthead-background-color: #181818;
   --menu-button-background-color: #181818;
   --fixed-button-background-color: #181818;
   --fixed-button-border-color: #343434;
   --eof-color: #434343;
   --wrapper-background-color: #181818;
   --selection-background-color: #27673d;
   --aside-hover-background-color: #181818;
   --main-index-background-color: #202020;
   --article-index-background-color: #202020;
   --article-index-button-background-color: #202020;
   --article-index-border-color: #343434;
   --min-masthead-background-color: #202020;
   --min-menu-a-border-color: #343434;
 }

 [theme=github-dark-orange] {
   --html-color: #f7f7f7;
   --html-background-color: #2d2833;
   --body-color: #f7f7f7;
   --body-background-color: #2d2833;
   --article-background-color: #2d2833;
   --hr-color: #6f6e6e;
   --blockquote-color: #6a737d;
   --blockquote-border-color: #5b5958;
   --a-color: #f27052;
   --code-color: #dddddd;
   --code-background-color: #212121;
   --code-hljs-background-color: #222;
   --code-hljs-color: #b1b1b1;
   --ins-color: #6f6e6e;
   --del-color: #7a7a7a;
   --thead-background-color: #222;
   --table-border-color: #5b5958;
   --main-border-color: #4e4c4b;
   --masthead-background-color: #2d2833;
   --menu-button-background-color: #2d2833;
   --fixed-button-background-color: #222;
   --fixed-button-border-color: #4e4c4b;
   --eof-color: #6f6e6e;
   --wrapper-background-color: #222;
   --selection-background-color: #f27052fc;
   --aside-hover-background-color: #212021;
   --main-index-background-color: #2d2833;
   --article-index-background-color: #2d2833;
   --article-index-button-background-color: #2d2833;
   --article-index-border-color: #6f6e6e;
   --min-masthead-background-color: #222;
   --min-menu-a-border-color: #4e4c4b;
 }

 [theme=dark-blue] {
   --html-color: #c0c0c0;
   --html-background-color: #14171c;
   --body-color: #c0c0c0;
   --body-background-color: #14171c;
   --article-background-color: #14171c;
   --hr-color: #2b3137;
   --blockquote-color: #6a737d;
   --blockquote-border-color: #292c2f;
   --a-color: #4183c4;
   --code-color: #dddddd;
   --code-background-color: #212121;
   --code-hljs-background-color: #14171c;
   --code-hljs-color: #fff;
   --ins-color: #6f6e6e;
   --del-color: #7a7a7a;
   --thead-background-color: #14171c00;
   --table-border-color: #292c2f;
   --main-border-color: #1D1F21;
   --masthead-background-color: #14171c;
   --menu-button-background-color: #14171c;
   --fixed-button-background-color: #182030;
   --fixed-button-border-color: #1d1f21;
   --eof-color: #2b3137;
   --wrapper-background-color: #14171c;
   --selection-background-color: #4183c4fc;
   --aside-hover-background-color: #14171c;
   --main-index-background-color: #182030;
   --article-index-background-color: #182030;
   --article-index-button-background-color: #182030;
   --article-index-border-color: #2b3137;
   --min-masthead-background-color: #182030;
   --min-menu-a-border-color: #272a2c;
 }

 [theme=icy-dark] {
   --html-color: #fff;
   --html-background-color: #021012;
   --body-color: #fff;
   --body-background-color: #021012;
   --article-background-color: #021012;
   --hr-color: #10444d;
   --blockquote-color: #6a737d;
   --blockquote-border-color: #145762;
   --a-color: #26d0e7;
   --code-color: #dddddd;
   --code-background-color: #212121;
   --code-hljs-background-color: #06272c;
   --code-hljs-color: #fff;
   --ins-color: #6f6e6e;
   --del-color: #7a7a7a;
   --thead-background-color: #182c30;
   --table-border-color: #145762;
   --main-border-color: #10444d;
   --masthead-background-color: #021012;
   --menu-button-background-color: #021012;
   --fixed-button-background-color: #06272c;
   --fixed-button-border-color: #10444d;
   --eof-color: #10444d;
   --wrapper-background-color: #021012;
   --selection-background-color: #26d0e7cf;
   --aside-hover-background-color: #021012;
   --main-index-background-color: #06272c;
   --article-index-background-color: #06272c;
   --article-index-button-background-color: #06272c;
   --article-index-border-color: #10444d;
   --min-masthead-background-color: #06272c;
   --min-menu-a-border-color: #10444d;
 }

 [theme=photon-dark] {
   --html-color: #fff;
   --html-background-color: #232326;
   --body-color: #fff;
   --body-background-color: #232326;
   --article-background-color: #232326;
   --hr-color: #313136;
   --blockquote-color: #6a737d;
   --blockquote-border-color: #44444a;
   --a-color: #45a1ff;
   --code-color: #dddddd;
   --code-background-color: #212121;
   --code-hljs-background-color: #2a2a2e;
   --code-hljs-color: #fff;
   --ins-color: #6f6e6e;
   --del-color: #7a7a7a;
   --thead-background-color: #2a2a2e;
   --table-border-color: #44444a;
   --main-border-color: #313136;
   --masthead-background-color: #232326;
   --menu-button-background-color: #232326;
   --fixed-button-background-color: #182030;
   --fixed-button-border-color: #38383d;
   --eof-color: #313136;
   --wrapper-background-color: #232326;
   --selection-background-color: #45a1ff;
   --aside-hover-background-color: #232326;
   --main-index-background-color: #2a2a2e;
   --article-index-background-color: #2a2a2e;
   --article-index-button-background-color: #2a2a2e;
   --article-index-border-color: #38383d;
   --min-masthead-background-color: #182030;
   --min-menu-a-border-color: #38383d;
 }

 /* 根元素
  <html>
 */
 html {
   color: var(--html-color);
   background-color: var(--html-background-color);
 }

 /* 章节
<body> <section> <nav> <article> <aside> <h1*6> <header> <footer> <address> <main>
*/
 body {
   color: var(--body-color);
   background-color: var(--body-background-color);
 }

 article {
   background-color: var(--article-background-color);
 }

 /* 组织内容
<p> <hr> <pre> <blockquote> <ol> <ul> <li> <dl> <dt> <dd> <figure> <figcaption> <div>
*/
 hr {
   color: var(--hr-color);
 }

 blockquote {
   color: var(--blockquote-color);
   border-left: .25em solid var(--blockquote-border-color);
 }

 /* 文字形式
<a> <em> <strong> <small> <s> <cite> <q> <dfn> <abbr> <time> <code> <var> <samp> <kbd>
<sub> <sup> <i> <b> <u> <mark> <ruby> <rt> <rp> <bdi> <bdo> <span> <br> <wbr>
*/
 a {
   color: var(--a-color);
 }

 a:hover {
   border-bottom: 1px solid var(--a-color);
 }

 .copyright a {
   color: var(--html-color);
 }

 a.list,
 .post-nav a,
 .copyright a,
 .menu button,
 #fixed-button button,
 .masthead .menu a,
 #TableOfContents li {
   color: var(--html-color);
 }

 a.list:hover,
 .post-nav a:hover,
 .copyright a:hover,
 .masthead .menu a:hover,
 .masthead .menu .active a:hover {
   color: var(--a-color);
   border-bottom: 1px solid var(--a-color);
 }

 .menu button:hover,
 #fixed-button button:hover {
   color: var(--a-color);
 }

 #TableOfContents>ul li:hover {
   color: var(--a-color);
 }

 #TableOfContents li p.show {
   color: var(--a-color);
 }

 #TableOfContents>ul {
   border-left: 1px solid var(--hr-color);
 }

 .masthead .menu .active a {
   border-bottom: 1px solid var(--html-color);
 }

 code {
   color: var(--code-color);
   background-color: var(--code-background-color);
 }

 code.hljs {
   background: var(--code-hljs-background-color);
   color: var(--code-hljs-color);
 }

 .hljs span {
   filter: brightness(90%);
 }

 [theme=github-light] .hljs span {
   filter: brightness(100%);
 }

 /* 编辑
<ins> <del>
*/
 ins {
   color: var(--ins-color);
 }

 del {
   color: var(--del-color);
 }

 /* 嵌入内容
<img> <iframe> <embed> <object> <param> <video> <audio> <source> <track> <canvas> <map>
<area> <area> <map> <svg> <math>
*/
 img {
   filter: brightness(80%);
 }

 [theme=github-light] img {
   filter: brightness(100%);
 }

 /* 表格
<table> <caption> <colgroup> <col> <tbody> <thead> <tfoot> <tr> <td> <th>
*/
 thead {
   background-color: var(--thead-background-color);
 }

 table tr:nth-child(2n) {
   background-color: var(--thead-background-color);
 }

 td,
 th {
   border: 1px solid var(--table-border-color);
 }

 /* 表单
<form> <fieldset> <legend> <label> <input> <button> <select> <datalist> <optgroup> <option>
<select> <textarea> <keygen> <output> <progress> <meter>
*/

 /* 交互元素
<details> <summary> <menuitem> <menu>
*/

 /* 选择器 class id  */
 .main {
   border-left: 1px solid var(--main-border-color);
 }

 .masthead {
   background: var(--masthead-background-color);
 }

 .menu button {
   background: linear-gradient(var(--menu-button-background-color), var(--menu-button-background-color));
 }

 #fixed-button button,
 .writeFixed a {
   background: linear-gradient(var(--fixed-button-background-color), var(--fixed-button-background-color));
   border: 1px solid var(--fixed-button-border-color);
 }

 #eof {
   color: var(--eof-color);
 }

 .home .wrapper {
   background: var(--wrapper-background-color);
 }

 /* 伪类 */

 ::selection {
   background: var(--selection-background-color);
   color: var(--html-color);
 }

 :focus {
   outline: none;
   background: var(--selection-background-color) !important;
   color: var(--html-color) !important;
 }

 /* 首页 */
 main.index {
   background-color: var(--main-index-background-color);
 }

 article.index button {
   background: linear-gradient(var(--article-index-button-background-color), var(--article-index-button-background-color));
 }

 main.index:hover aside {
   background: var(--aside-hover-background-color);
 }

 article.index {
   border-top: 1px solid var(--article-index-border-color);
   border-bottom: 1px solid var(--article-index-border-color);
   background-color: var(--article-index-background-color);
 }

 article.index a,
 article.index button,
 article.index ruby.link,
 article.index button:hover,
 article.index ruby.link:hover a,
 article.index ruby.link:hover rt {
   color: var(--a-color);
 }


 /* article.index a,
 article.index button,
 article.index ruby.link {
   color: var(--html-color);
 } */

 article.index ruby.link a:hover {
   border-bottom: 1px solid var(--a-color);
 }

 @media only screen and (max-width:668px) {
   aside.index {
     background: var(--aside-hover-background-color);
   }
 }

 /* 移动端与 PC 端适配 */
 @media screen and (max-width:1220px) {
   .masthead {
     border-bottom: 1px solid var(--main-border-color);
     background: var(--min-masthead-background-color);
   }

   .menu button {
     background: linear-gradient(var(--min-masthead-background-color), var(--min-masthead-background-color));
   }

   .masthead .menu .active a,
   .masthead .menu .active a:hover {
     border: 1px solid var(--min-menu-a-border-color) !important;
   }

   .main {
     border: none;
   }
 }
