/* 主题 */

[theme='github-light'] {
  --html-color: #000;
  --html-bg-color: #fff;
  --body-color: #000;
  --body-bg-color: #fff;
  --article-bg-color: #fff;
  --hr-color: #e1e4e8;
  --blockquote-color: #5d5d5d;
  --blockquote-border-color: #c8c8c8;
  --a-color: #d59500;
  --code-color: #000;
  --code-bg-color: #ebedf0;
  --code-highlight-bg-color: #272827;
  --code-highlight-color: #f8f8f2;
  --ins-color: #777;
  --del-color: gray;
  --thead-bg-color: #f6f8fa;
  --table-border-color: #e1e4e8;
  --main-border-color: #e1e4e8;
  --masthead-bg-color: #fff;
  --menu-button-bg-color: #fff;
  --fixed-btn-bg-color: #f6f8fa;
  --fixed-btn-border-color: #e1e4e8;
  --eof-color: #777;
  --wrapper-bg-color: #efefef;
  --selection-bg-color: #fefecc;
  --aside-hover-bg-color: #efefef;
  --min-masthead-bg-color: #f6f8fa;
  --min-menu-a-border-color: #e1e4e8;
  --list-bg-color: #ececec;
}

[theme='github-dark'] {
  --html-color: #979797;
  --html-bg-color: #181818;
  --body-color: #979797;
  --body-bg-color: #181818;
  --article-bg-color: #181818;
  --hr-color: #343434;
  --blockquote-color: #777;
  --blockquote-border-color: #414141;
  --a-color: #4183c4;
  --code-color: #737373;
  --code-bg-color: #303030;
  --code-highlight-bg-color: #202020;
  --code-highlight-color: #b1b1b1;
  --ins-color: #666;
  --del-color: #777;
  --thead-bg-color: #202020;
  --table-border-color: #343434;
  --main-border-color: #343434;
  --masthead-bg-color: #181818;
  --menu-button-bg-color: #181818;
  --fixed-btn-bg-color: #181818;
  --fixed-btn-border-color: #343434;
  --eof-color: #666;
  --wrapper-bg-color: #181818;
  --selection-bg-color: #27673d;
  --aside-hover-bg-color: #181818;
  --min-masthead-bg-color: #202020;
  --min-menu-a-border-color: #343434;
  --list-bg-color: #2b2b2b;
}

[theme='github-dark-orange'] {
  --html-color: #f7f7f7;
  --html-bg-color: #2d2833;
  --body-color: #f7f7f7;
  --body-bg-color: #2d2833;
  --article-bg-color: #2d2833;
  --hr-color: #6f6e6e;
  --blockquote-color: #6a737d;
  --blockquote-border-color: #5b5958;
  --a-color: #f27052;
  --code-color: #ddd;
  --code-bg-color: #212121;
  --code-highlight-bg-color: #222;
  --code-highlight-color: #b1b1b1;
  --ins-color: #6f6e6e;
  --del-color: #7a7a7a;
  --thead-bg-color: #222;
  --table-border-color: #5b5958;
  --main-border-color: #4e4c4b;
  --masthead-bg-color: #2d2833;
  --menu-button-bg-color: #2d2833;
  --fixed-btn-bg-color: #222;
  --fixed-btn-border-color: #4e4c4b;
  --eof-color: #6f6e6e;
  --wrapper-bg-color: #222;
  --selection-bg-color: #f27052fc;
  --aside-hover-bg-color: #212021;
  --min-masthead-bg-color: #222;
  --min-menu-a-border-color: #4e4c4b;
  --list-bg-color: #1d1a21;
}

[theme='dark-blue'] {
  --html-color: #c0c0c0;
  --html-bg-color: #14171c;
  --body-color: #c0c0c0;
  --body-bg-color: #14171c;
  --article-bg-color: #14171c;
  --hr-color: #2b3137;
  --blockquote-color: #6a737d;
  --blockquote-border-color: #292c2f;
  --a-color: #4183c4;
  --code-color: #ddd;
  --code-bg-color: #212121;
  --code-highlight-bg-color: #14171c;
  --code-highlight-color: #fff;
  --ins-color: #6f6e6e;
  --del-color: #7a7a7a;
  --thead-bg-color: #14171c00;
  --table-border-color: #292c2f;
  --main-border-color: #1d1f21;
  --masthead-bg-color: #14171c;
  --menu-button-bg-color: #14171c;
  --fixed-btn-bg-color: #182030;
  --fixed-btn-border-color: #1d1f21;
  --eof-color: #6f6e6e;
  --wrapper-bg-color: #14171c;
  --selection-bg-color: #4183c4fc;
  --aside-hover-bg-color: #14171c;
  --min-masthead-bg-color: #182030;
  --min-menu-a-border-color: #272a2c;
  --list-bg-color: #21262f;
}

[theme='icy-dark'] {
  --html-color: #fff;
  --html-bg-color: #021012;
  --body-color: #fff;
  --body-bg-color: #021012;
  --article-bg-color: #021012;
  --hr-color: #10444d;
  --blockquote-color: #6a737d;
  --blockquote-border-color: #145762;
  --a-color: #26d0e7;
  --code-color: #ddd;
  --code-bg-color: #212121;
  --code-highlight-bg-color: #06272c;
  --code-highlight-color: #fff;
  --ins-color: #6f6e6e;
  --del-color: #7a7a7a;
  --thead-bg-color: #182c30;
  --table-border-color: #145762;
  --main-border-color: #10444d;
  --masthead-bg-color: #021012;
  --menu-button-bg-color: #021012;
  --fixed-btn-bg-color: #06272c;
  --fixed-btn-border-color: #10444d;
  --eof-color: #6f6e6e;
  --wrapper-bg-color: #021012;
  --selection-bg-color: #26d0e7cf;
  --aside-hover-bg-color: #021012;
  --min-masthead-bg-color: #06272c;
  --min-menu-a-border-color: #10444d;
  --list-bg-color: #042025;
}

[theme='photon-dark'] {
  --html-color: #fff;
  --html-bg-color: #232326;
  --body-color: #fff;
  --body-bg-color: #232326;
  --article-bg-color: #232326;
  --hr-color: #313136;
  --blockquote-color: #6a737d;
  --blockquote-border-color: #44444a;
  --a-color: #45a1ff;
  --code-color: #ddd;
  --code-bg-color: #212121;
  --code-highlight-bg-color: #2a2a2e;
  --code-highlight-color: #fff;
  --ins-color: #6f6e6e;
  --del-color: #7a7a7a;
  --thead-bg-color: #2a2a2e;
  --table-border-color: #44444a;
  --main-border-color: #313136;
  --masthead-bg-color: #232326;
  --menu-button-bg-color: #232326;
  --fixed-btn-bg-color: #182030;
  --fixed-btn-border-color: #38383d;
  --eof-color: #6f6e6e;
  --wrapper-bg-color: #232326;
  --selection-bg-color: #45a1ff;
  --aside-hover-bg-color: #232326;
  --min-masthead-bg-color: #182030;
  --min-menu-a-border-color: #38383d;
  --list-bg-color: #121214;
}

/* 根元素
 <html>
*/
html {
  color: var(--html-color);
  background-color: var(--html-bg-color);
}

/* 章节
<body> <section> <nav> <article> <aside> <h1*6> <header> <footer> <address> <main>
*/
body {
  color: var(--body-color);
  background-color: var(--body-bg-color);
}

article {
  background-color: var(--article-bg-color);
}

/* 组织内容
<p> <hr> <pre> <blockquote> <ol> <ul> <li> <dl> <dt> <dd> <figure> <figcaption> <div>
*/
p {
  margin-bottom: 4px;
}

hr {
  color: var(--hr-color);
}

blockquote {
  color: var(--blockquote-color);
  border-left: 0.25em solid var(--blockquote-border-color);
}

/* 文字形式
<a> <em> <strong> <small> <s> <cite> <q> <dfn> <abbr> <time> <code> <var> <samp> <kbd>
<sub> <sup> <i> <b> <u> <mark> <ruby> <rt> <rp> <bdi> <bdo> <span> <br> <wbr>
*/
a {
  color: var(--a-color);
}

a:focus-visible {
  color: var(--html-color) !important;
  background: var(--selection-bg-color) !important;
  outline: none;
}

a:hover {
  border-bottom: 1px solid var(--a-color);
}

.copyright a {
  color: var(--html-color);
}

a.list,
.post-nav a,
.copyright a,
.menu button,
#TableOfContents li {
  color: var(--html-color);
}

button:focus-visible {
  color: var(--html-color) !important;
  background: var(--selection-bg-color) !important;
  outline: none;
}

.menu button {
  background: linear-gradient(var(--menu-button-bg-color), var(--menu-button-bg-color));
}

.menu button:hover {
  color: var(--a-color);
}

#fixed-button button {
  color: var(--html-color);
}

#fixed-button button,
.writeFixed a {
  background: linear-gradient(var(--fixed-btn-bg-color), var(--fixed-btn-bg-color));
  border: 1px solid var(--fixed-btn-border-color);
}

#fixed-button button:hover {
  color: var(--a-color);
}

.basicInfo + p > a {
  color: var(--body-color);
}

.masthead .menu a {
  color: var(--html-color);
}

.post-nav a:hover,
.copyright a:hover {
  color: var(--a-color);
  border-bottom: 1px solid var(--a-color);
}

.basicInfo + p > a:hover {
  color: var(--a-color);
}

a.list .summary {
  color: var(--blockquote-color);
}

a.list:hover {
  background-color: var(--list-bg-color);
  border-bottom: 0;
}

a.list:focus-visible {
  background: var(--list-bg-color) !important;
}

.masthead .menu .active a {
  border-bottom: 1px solid var(--html-color);
}

a.list:hover .title,
.masthead .menu a:hover,
.masthead .menu .active a:hover {
  color: var(--a-color);
  border-bottom: 1px solid var(--a-color);
}

#TableOfContents > ul li:hover {
  color: var(--a-color);
}

#TableOfContents li p.show {
  color: var(--a-color);
}

#TableOfContents > ul {
  border-left: 1px solid var(--hr-color);
}

code {
  color: var(--code-color);
  background-color: var(--code-bg-color);
}

.highlight code {
  color: var(--code-highlight-color);
  background: var(--code-highlight-bg-color);
}

.hljs span {
  filter: brightness(90%);
}

[theme='github-light'] .hljs span {
  filter: brightness(100%);
}

/* 编辑
<ins> <del>
*/
ins {
  color: var(--ins-color);
}

del {
  color: var(--del-color);
}

/* 嵌入内容
<img> <iframe> <embed> <object> <param> <video> <audio> <source> <track> <canvas> <map>
<area> <area> <map> <svg> <math>
*/
img {
  filter: brightness(80%);
}

[theme='github-light'] img {
  filter: brightness(100%);
}

/* 表格
<table> <caption> <colgroup> <col> <tbody> <thead> <tfoot> <tr> <td> <th>
*/
thead {
  background-color: var(--thead-bg-color);
}

table tr:nth-child(2n) {
  background-color: var(--thead-bg-color);
}

td,
th {
  border: 1px solid var(--table-border-color);
}

/* 表单
<form> <fieldset> <legend> <label> <input> <button> <select> <datalist> <optgroup> <option>
<select> <textarea> <keygen> <output> <progress> <meter>
*/

/* 交互元素
<details> <summary> <menuitem> <menu>
*/

/* 选择器 class id  */
.main {
  border-left: 1px solid var(--main-border-color);
}

.masthead {
  background: var(--masthead-bg-color);
}

#eof {
  color: var(--eof-color);
}

.home .wrapper {
  background: var(--wrapper-bg-color);
}

/* 伪类，伪元素 */

::selection {
  color: var(--html-color);
  background: var(--selection-bg-color);
}

@media only screen and (max-width: 668px) {
  aside.index {
    background: var(--aside-hover-bg-color);
  }

  a.list {
    background-color: var(--list-bg-color);
  }
}

/* 移动端与 PC 端适配 */
@media screen and (max-width: 1220px) {
  .masthead {
    background: var(--min-masthead-bg-color);
    border-top: 1px solid var(--main-border-color);
  }

  .menu button {
    background: linear-gradient(var(--min-masthead-bg-color), var(--min-masthead-bg-color));
  }

  .masthead .menu .active a,
  .masthead .menu .active a:hover {
    border: 1px solid var(--min-menu-a-border-color) !important;
  }
}
