{{ partial "header.html" . }}
<div class="index wrapper">
<main class="index">
    <aside class="index">
      <div id="logo">
        <img src="/images/logo.png" alt="logo">
        <div id="name">李鹏坤</div>
      </div>
      <ul id="info">
        <li>
            <i class="fa-fw fa fa-user"></i>执手对影成双
        </li>
        <li>
            <i class="fa-fw fa fa-envelope"></i>mail@lipk.org
        </li>
        <li>
            <i class="fa-fw fa fa-map-marker"></i>江苏 · 苏州
        </li>
        <li>
            <i class="fa-fw fa fa-home"></i>广东 · 中山
        </li>
      </ul>
    </aside>
    <article class="index">
        {{ .Content }}
    </article>
    <footer class="index">
        {{ range .Site.Params.customJS }}
        <script async src="{{ . | relURL }}"></script>
        {{ end }}
        {{ with .Site.Params.footer }}
        <div class="copyright">
            {{ . | markdownify }}
            <a href="https://travellings.now.sh/" target="blank" title="开往-友链接力">
                <img src="/images/travellings.svg" alt="开往-友链接力" height="23" style="vertical-align: text-top;">
            </a>
        </div>
        {{ end }}
    </footer>
</main>
</div>
</body>
</html>