{{ partial "header.html" . }}
    <main class="index">
        <article>
            {{ .Content }}
        </article>
        <footer>
            <script async type="module" src="/js/main-async.js"></script>
            <div class="copyright">
              <span>&copy;{{ .Site.Params.since }}-{{ now.Format "2006"}} {{ .Site.Params.author }}。</span>
              {{ partial "svg/version.svg" . }}
              <a class="svg-link" href="https://github.com/zsdycs" target="_blank" rel="noopener noreferrer"
                title="zsdycs | Github">
                {{ partial "svg/fa-github.svg" . }}
              </a>
              <a class="svg-link" href="https://travellings.link/" target="_blank" rel="noopener noreferrer"
                title="开往-友链接力">
                {{ partial "svg/travelling.svg" . }}
              </a>
              <span class="beian">
                  <img src="https://lipk.oss-accelerate.aliyuncs.com/images/beian.png" alt="公网安备" width="17" height="17" />
                  <a target="_blank" rel="noopener noreferrer"
                      href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44200002444254">
                      粤公网安备 44200002444254 号
                  </a>
              </span>
            </div>
        </footer>
    </main>
</body>

</html>
