{{ partial "header.html" . }}

{{ if .Params._tableOfContents }}
{{ .TableOfContents }}
<script async src="/js/toc-powerful.js"></script>
{{ end }}

{{ .Content }}

<!-- 当不是首页，且有MD资源时，在菜单栏增加 "编辑本页" 及 版权声明 -->
{{ if and (not .IsHome) .Content }}
{{ with $.Site.Params.githubContentURL }}
{{ $.Scratch.Set "filePath" $.File.Path }}
{{ $.Scratch.Set "filePath" (replace ($.Scratch.Get "filePath") "\\" "/") }}
<div id="fixed-button">
  <div class="btn-box writeFixed">
    <a href="{{ or $.Params.githubEditURL  (print .  ($.Scratch.Get "filePath")) }}" title="编辑本页" target="_blank">
      <button type="button">
        <svg class="fa-svg" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
          <path id="fa-pencil" d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"/>
        </svg>
      </button>
    </a>
  </div>
  <div class="btn-box topFixed">
    <button type="button" title="返回顶部" onclick="window.scrollTo({top: 0});">
      <svg class="fa-svg" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
        <path id="fa-arrow-up" d="M1675 971q0 51-37 90l-75 75q-38 38-91 38-54 0-90-38l-294-293v704q0 52-37.5 84.5t-90.5 32.5h-128q-53 0-90.5-32.5t-37.5-84.5v-704l-294 293q-36 38-90 38t-90-38l-75-75q-38-38-38-90 0-53 38-91l651-651q35-37 90-37 54 0 91 37l651 651q37 39 37 91z"/>
      </svg>
    </button>
  </div>
</div>
{{ end }}
{{ end }}

<div id="eof"><span>完</span></div>
{{ partial "footer.html" . }}
