{{ partial "header.html" . }}

{{ if .Params._tableOfContents }}
{{ .TableOfContents }}
<script async src="/js/toc-powerful.js"></script>
{{ end }}
{{ .Content }}
{{ if .Params._zooming }}
<script src="/js/zooming.min.js"></script>
<script>
  var zooming = new Zooming({
    bgColor: 'black',
    customSize: "100%",
    transitionDuration: 0.2,
    enableGrab: false,
    zIndex: 1001
  })
  zooming.listen('img');
</script>
{{ end }}
<div id="eof">
  <span>终</span>
</div>
{{ partial "footer.html" . }}
