  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright" id="add-icp">
    <span id="slogan">执手相看，对影成双</span>
    {{ . | markdownify }}
  </div>
  {{ end }}
  </footer>
  </article>
  <!-- {{ template "_internal/google_analytics.html" . }} -->
  <script>
    // 域名首页添加ICP备案信息
    function GetUrlRelativePath()
　　{
　　　　var url = document.location.toString();
　　　　var arrUrl = url.split("//");

　　　　var start = arrUrl[1].indexOf("/");
　　　　var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

　　　　if(relUrl.indexOf("?") != -1){
　　　　　　relUrl = relUrl.split("?")[0];
　　　　}
　　　　return relUrl;
　　}
  window.onload=function(){
    var url = GetUrlRelativePath();
    if(url == "/"){
      var pobj=document.getElementById("add-icp");
      var strongobj=document.createElement("span");	
      strongobj.id="icp"
      strongobj.onclick=function(){window.open("http://www.miitbeian.gov.cn")}
      var str = "粤ICP备19003986号"		   
      var textobj=document.createTextNode(str);	
      strongobj.appendChild(textobj)	   		
		  pobj.appendChild(strongobj);
    }
  }
  </script>
  </body>
</html>
