html {
    background-color: #212121;
}

body {
    background-color: #212121;
    color: #737373;
}

a {
    color: #737373;
    border-bottom: 1px solid #6c6c6c;
}

img {
    filter: brightness(80%);
}

main.index {
    background-color: #292929;
}

main.index:hover aside {
    background: #252525;
}

article.index {
    border-top: 2px solid #4c4c4c;
    border-bottom: 2px solid #4c4c4c;
}

::selection {
    background: #27673d;
}

.home .wrapper {
    background: #212121;
}


article.index ruby.link:hover a,
article.index ruby.link:hover rt {
  color: #a0a0a0;
}

article.index ruby.link:hover {
  border-bottom: 1px solid #a0a0a0;
}

#eof {
    color: #434343;
}

@media only screen and (max-width: 668px) {
    aside.index {
        background: #252525;
    }
}

.masthead .menu .active a {
    color: #a0a0a0;
}