<style>
  @font-face {
    font-family: 'source-han-serif-sc';
    src: url('./fontSource/SourceHanSerifSC-VF.ttf');
  }
  /*@font-face {
    font-family: 'source-han-serif-sc';
    font-weight: 'Bold';
    src: url('./fontSource/SourceHanSerifSC-Bold.otf');
  }
  @font-face {
    font-family: 'source-han-serif-sc';
    font-weight: 'ExtraLight';
    src: url('./fontSource/SourceHanSerifSC-ExtraLight.otf');
  }
  @font-face {
    font-family: 'source-han-serif-sc';
    font-weight: 'Heavy';
    src: url('./fontSource/SourceHanSerifSC-Heavy.otf');
  }
  @font-face {
    font-family: 'source-han-serif-sc';
    font-weight: 'Light';
    src: url('./fontSource/SourceHanSerifSC-Light.otf');
  }
  @font-face {
    font-family: 'source-han-serif-sc';
    font-weight: 'Medium';
    src: url('./fontSource/SourceHanSerifSC-Medium.otf');
  }
  @font-face {
    font-family: 'source-han-serif-sc';
    font-weight: 'Regular';
    src: url('./fontSource/SourceHanSerifSC-Regular.otf');
  }
  @font-face {
    font-family: 'source-han-serif-sc';
    font-weight: 'SemiBold';
    src: url('./fontSource/SourceHanSerifSC-SemiBold.otf');
  }*/
</style>
