<style>
  @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Bold';
    src: url('./fontSource/SourceHanSerifCN-Bold.ttf');
  }
  @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'ExtraLight';
    src: url('./fontSource/SourceHanSerifCN-ExtraLight.ttf');
  }
  @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Heavy';
    src: url('./fontSource/SourceHanSerifCN-Heavy.ttf');
  }
  @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Light';
    src: url('./fontSource/SourceHanSerifCN-Light.ttf');
  }
  @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Medium';
    src: url('./fontSource/SourceHanSerifCN-Medium.ttf');
  }
  @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Regular';
    src: url('./fontSource/SourceHanSerifCN-Regular.ttf');
  }
  @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'SemiBold';
    src: url('./fontSource/SourceHanSerifCN-SemiBold.ttf');
  }
</style>
