<style>
  /* @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Bold';
    src: url('./fontSource/SourceHanSerifCN-Bold.ttf');
    font-display: 'swap';
  } */
  /* @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'ExtraLight';
    src: url('./fontSource/SourceHanSerifCN-ExtraLight.ttf');
    font-display: 'swap';
  } */
  /* @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Heavy';
    src: url('./fontSource/SourceHanSerifCN-Heavy.ttf');
    font-display: 'swap';
  } */

  /* @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 100;
    src: url('./fontSource/SourceHanSerifCN-Light.ttf');
    font-display: 'swap';
  } */

  /* @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Medium';
    src: url('./fontSource/SourceHanSerifCN-Medium.ttf');
    font-display: 'swap';
  } */
  /* @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: 'Regular';
    src: url('./fontSource/SourceHanSerifCN-Regular.ttf');
    font-display: 'swap';
  } */

  /* @font-face {
    font-family: 'Source Han Serif CN';
    font-weight: normal;
    src: url('./fontSource/SourceHanSerifCN-SemiBold.ttf');
    font-display: 'swap';
  } */
</style>
