      <footer>
      {{ partial "foot_custom.html" . }}
      {{ with .Site.Params.footer }}
      <hr>
      <div class="copyright">
        <span class="slogan">{{ $.Site.Params.slogan }}</span>
        {{ . | markdownify }}
        <br/>
        <a href="https://travellings.now.sh/" target="blank" title="开往-友链接力">
          <img src="/images/travellings.svg" alt="开往-友链接力" height="23" style="vertical-align: text-top;">
        </a>
      </div>
      {{ end }}
      </footer>
  {{ if not .IsHome }}
    </article>
  </main>
  {{ end }}
</body>
</html>