      <footer>
      {{ if .Section }}
        {{ if or .PrevInSection .NextInSection }}
        {{ end }}
        <nav class="post-nav">
          <span class="nav-prev">{{ with .PrevInSection }}&larr; <a href="{{ .RelPermalink }}" title="单击可后退(键盘左箭头)">{{ .Title }}</a>{{ end }}</span>
          <span class="nav-next">{{ with .NextInSection }}<a href="{{ .RelPermalink }}" title="单击可前进(键盘右箭头)">{{ .Title }}</a> &rarr;{{ end }}</span>
        </nav>
        <script type="text/javascript">
          document.addEventListener('keyup', function(e) {
            if (e.target.nodeName.toUpperCase() != 'BODY') return;
            var url = false;
            {{ if .PrevInSection }}
              if (e.which === 37) {  // Left arrow
                url = '{{ .PrevInSection.RelPermalink }}';
              }
            {{ end }}
            {{ if .NextInSection }}
              if (e.which === 39) {  // Right arrow
                url = '{{ .NextInSection.RelPermalink }}';
              }
            {{ end }}
            if (url) window.location = url;
          });
        </script>

      {{ end }}

      {{ if not .Params.notComment }}
      <section id="beaudar" class="comments"></section>
      {{ end }}

      <script async type="module" src="/js/main.js"></script>
      {{ if .Params.pictureView }}
        <script async type="module">
          import PhotoSwipeLightbox from '/js/photoswipe-lightbox.esm.min.js';
          const options = {
            gallerySelector: 'article.main',
            childSelector: 'figure.image img',
            pswpModule: '/js/photoswipe.esm.min.js',
            pswpCSS: '/css/photoswipe.css'
          }
          const lightbox = new PhotoSwipeLightbox(options);
          lightbox.on('itemData', (item) => {
            const { itemData, index } = item;
            const { element } = itemData;
            const dataSource = {{ .Params.pictureData }};

            itemData.src = dataSource[index].src;
            itemData.w = dataSource[index].w || element.naturalWidth;
            itemData.h = dataSource[index].h || element.naturalHeight;
            itemData.msrc = dataSource[index].msrc || dataSource[index].src;
            itemData.thumbCropped = true;
          });
          lightbox.init();
        </script>
      {{ end }}

      {{ if and (.Params.mathjax) (or (in (string .Content) "\\") (in (string .Content) "$")) }}
      <script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
      {{ end }}

      <hr>
      <div class="copyright">
        <span class="slogan">{{ .Site.Params.slogan }}</span>
        <span>&copy;{{ .Site.Params.since }}-{{ now.Format "2006"}} {{ .Site.Params.author }}。</span>
        <br />
        {{ partial "svg/version.svg" . }}
        <a class="svg-link" href="https://github.com/zsdycs" target="_blank" rel="noopener noreferrer"
          title="zsdycs | Github">
          {{ partial "svg/fa-github.svg" . }}
        </a>
        <a class="svg-link" href="https://travellings.now.sh/" target="blank" title="开往-友链接力">
          {{ partial "svg/travelling.svg" . }}
        </a>
        <br />
        <div class="beian">
            <img src="https://lipk.oss-accelerate.aliyuncs.com/images/beian.png" />
            <a target="_blank" rel="noopener noreferrer"
                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44200002444254">
                粤公网安备 44200002444254 号
            </a>
        </div>
      </div>
      </footer>
  {{ if not .IsHome }}
    </article>
  </main>
  {{ end }}

  <!-- 当不是首页，且有MD资源时，在菜单栏增加 "编辑本页" 及 “返回顶部” -->
  {{ if and (not .IsHome) .Content }}
  {{ with $.Site.Params.githubContentURL }}
  {{ $.Scratch.Set "filePath" $.File.Path }}
  {{ $.Scratch.Set "filePath" (replace ($.Scratch.Get "filePath") "\\" "/") }}
  <div id="fixed-button">
    <div class="btn-box writeFixed">
      <a href="{{ or $.Params.githubEditURL  (print .  ($.Scratch.Get "filePath")) }}" title="编辑本页" target="_blank">
        {{ partial "svg/fa-pencil.svg" . }}
      </a>
    </div>
    <div class="btn-box topFixed">
      <button type="button" title="返回顶部" onclick="window.scrollTo({top: 0});">
        {{ partial "svg/fa-arrow-up.svg" . }}
      </button>
    </div>
  </div>
  {{ end }}
  {{ end }}
</body>
</html>
