{{ if and (.Params._highlight) (in (string .Content) "</pre>") }}
{{ $highlightjsThemeDay := .Site.Params.highlightjsThemeDay }}
{{ $highlightjsThemeNight := .Site.Params.highlightjsThemeNight }}
{{ $highCDN := (.Site.Params.highlightjsCDN) }}
<link id="highlightjsThemeDay"
    href='{{ $highCDN }}/build/styles/{{ $highlightjsThemeDay }}.min.css'
    rel='stylesheet' type='text/css' />
<link id="highlightjsThemeNight"
    href='{{ $highCDN }}/build/styles/{{ $highlightjsThemeNight }}.min.css'
    rel='stylesheet' type='text/css' />
<script src='{{ $highCDN }}/build/highlight.min.js'></script>
{{ end }}