<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  {{ if eq .RelPermalink "/" }}
  <title>{{ .Site.Title }}</title>

  {{ else }}
  <title>执手对影成双 - {{ .Title }}</title>
  {{ end }}
  <meta name="baidu-site-verification" content="SQ5Gg5sRhQ" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154705931-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-154705931-1');
  </script>

  {{ if .IsHome }}
  <meta property="og:title" content="{{ .Site.Title }}">
  {{ else }}
  <meta property="og:title" content="执手对影成双 - {{ .Title }}">
  {{ end }}
  <meta property="og:type" content="website">
  <meta name="keywords" content="个人网站,博客">
  <script>
      console.info("\n%c 🎉 嗨~ 想看源代码？ %c \nGitHub仓库: https://github.com/zsdycs/lipk.org \n%c自主%c、%c跨界%c、%c终身学习%c。",
      "color: #fff; padding: 5px 0; background: #29c75f; margin: 1em 0;",
      "display: block;margin-left: 0.5em; margin: 1em 0;",
      "color:#E24432; font-size: 16px; margin: 1em 0;",
      "color:#666666; font-size: 16px; margin: 1em 0;",
      "color:#0E70ED; font-size: 16px; margin: 1em 0;",
      "color:#666666; font-size: 16px; margin: 1em 0;",
      "color:#009E5E; font-size: 16px; margin: 1em 0;",
      "color:#666666; font-size: 16px; margin: 1em 0;");
  </script>
  {{ with .Description }}
  {{ $.Scratch.Set "summary" (markdownify .) }}
  {{ else }}
  {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated)) }}
  {{ end }}

  {{ if eq .RelPermalink "/" }}
  <meta property="description" content="{{ .Site.Params.description }}">
  {{ else }}
  {{ with ($.Scratch.Get "summary") }}
  <meta property="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  {{ end }}
  {{ end }}

  {{ if .Keywords }}
  <meta property="keywords" content="{{ delimit .Keywords ", " }}">
  {{ end }}
  {{ partial "head_highlightjs" . }}
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css" />
  <link rel="preload" href="https://beaudar.lipk.org/client.js" as="script" crossorigin />
  <link rel="preload" href="https://use.typekit.net/kwz5xar.js" as="script" crossorigin />
  <link rel="preload" href="/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf" as="font" type="font/ttf" crossorigin />
  <link rel="preload" href="/font-awesome-4.7.0/fonts/fontawesome-webfont.woff" as="font" type="font/woff" crossorigin />
  <link rel="preload" href="/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2" as="font" type="font/woff2" crossorigin />
  <script defer="defer" src="/js/load-typekit.js"></script>
</head>

{{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
<body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}" theme="github-dark">
{{ if not .IsHome }}
  <main class="paramount">
    <!-- 菜单栏 -->
    <header class="masthead">
      {{ partial "menu.html" . }}
    </header>
    <article class="main">
      <!-- 文章标题 -->
      <header class="title">
        {{ partial "meta.html" . }}
      </header>
{{ end }}
