<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {{ if eq .RelPermalink "/" }}
  <title>{{ .Site.Title }}</title>

  {{ else }}
  <title>{{ .Site.Params.title }} - {{ .Title }}</title>
  {{ end }}
  <meta name="baidu-site-verification" content="SQ5Gg5sRhQ" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154705931-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-154705931-1');
  </script>

  {{ if .IsHome }}
  <meta name="og:title" content="{{ .Site.Title }} | 首页">
  <meta property="og:title" content="{{ .Site.Title }} | 首页">
  {{ else }}
  <meta name="og:title" content="{{ .Site.Params.author }} | {{ .Site.Params.title }} - {{ .Title }}">
  <meta property="og:title" content="{{ .Site.Params.author }} | {{ .Site.Params.title }} - {{ .Title }}">
  {{ end }}
  <meta property="og:type" content="website">
  <script>
      console.info("\n%c 🎉 嗨~ 想看源代码？ %c \nGitHub仓库: https://github.com/zsdycs/lipk.org \n%c自主%c、%c跨界%c、%c终身学习%c。",
      "color: #fff; padding: 5px 0; background: #29c75f; margin: 1em 0;",
      "display: block;margin-left: 0.5em; margin: 1em 0;",
      "color:#E24432; font-size: 16px; margin: 1em 0;",
      "color:#666666; font-size: 16px; margin: 1em 0;",
      "color:#0E70ED; font-size: 16px; margin: 1em 0;",
      "color:#666666; font-size: 16px; margin: 1em 0;",
      "color:#009E5E; font-size: 16px; margin: 1em 0;",
      "color:#666666; font-size: 16px; margin: 1em 0;");
  </script>
  {{ with .Description }}
  {{ $.Scratch.Set "summary" (markdownify .) }}
  {{ else }}
  {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated)) }}
  {{ end }}

  {{ if eq .RelPermalink "/" }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  {{ else }}
  {{ with ($.Scratch.Get "summary") }}
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  {{ end }}
  {{ end }}
  {{ if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
  <meta property="keywords" content="{{ delimit .Keywords ", " }}">
  {{ end }}
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/fonts.css" />
  <link rel="dns-prefetch" href="//lipk.oss-accelerate.aliyuncs.com">
  {{ if not .Params.notComment }}
  <link rel="preload" href="https://beaudar.lipk.org/client.js" as="script" crossorigin />
  {{ end }}
  <link rel="preload" href="https://use.typekit.net/kwz5xar.js" as="script" crossorigin />
  <script defer="defer" src="/js/load-typekit.js"></script>
  <meta name="theme-color" content="#fff"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js');
          });
      }
  </script>
</head>

{{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
<body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}" theme="github-dark">
{{ if not .IsHome }}
  <main class="paramount">
    <!-- 菜单栏 -->
    <header class="masthead">
      {{ partial "menu.html" . }}
    </header>

    {{ if .Params.tableOfContents }}
    <div id="tableOfContents-bar"></div>
    <script async src="/js/tableOfContents.v2.js"></script>
    {{ end }}
    <article class="main">
      <!-- 文章标题 -->
      <header class="title">
        {{ partial "meta.html" . }}
      </header>
{{ end }}
