<script async src="/js/load-typekit.js"></script>
<link rel="stylesheet" id="github-light" href="{{ "/css/github-light.css" | relURL }}" />
<link rel="stylesheet" id="github-dark" href="{{ "/css/github-dark.css" | relURL }}" />
<link rel="stylesheet" id="github-dark-orange" href="{{ "/css/github-dark-orange.css" | relURL }}" />
<link rel="stylesheet" id="dark-blue" href="{{ "/css/dark-blue.css" | relURL }}" />
<link rel="stylesheet" id="icy-dark" href="{{ "/css/icy-dark.css" | relURL }}" />
<link rel="stylesheet" id="photon-dark" href="{{ "/css/photon-dark.css" | relURL }}" />
<link rel="stylesheet" href="/css/information-connotation-of-ten-years-pact.css">
<link async href="//cdn.jsdelivr.net/gh/zsdycs/lipk.org/static/font-awesome-4.7.0/css/font-awesome.min.css"
    rel="stylesheet">
i