<script async src="/js/load-typekit.js"></script>
{{ if lt (.Date.Year) 2017 }}
<script>
(function(u, c) {
  var d = document, t = 'script', o = d.createElement(t), s = d.getElementsByTagName(t)[0];
  o.src = u;
  if (c) { o.addEventListener('load', function (e) { c(e); }); }
  s.parentNode.insertBefore(o, s);
})('//zsdycs.cn/js/view-source_cdn.bootcss.com_pangu_3.3.0_pangu.min.js', function() {
  pangu.spacingPage();
});
</script>

{{ end }}
<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" />