{{ if .PrevInSection  }}
<div class="container">
    <main>
      <span
      class="wf-discussion-count-unit"
      wf-page-url="http://chengkang.me/wildfire">
      加载中...
      </span>
      <script type="text/javascript">
        var wildfireConfig = () => ({
          databaseProvider: 'firebase',
          databaseConfig: {
            apiKey: "AIzaSyAXyakr0urjPACEAkHx5kokcK166h6d4lY",
            authDomain: "wildfire-zsdycs.firebaseapp.com",
            databaseURL: "https://wildfire-zsdycs.firebaseio.com",
            projectId: "wildfire-zsdycs",
            storageBucket: "wildfire-zsdycs.appspot.com",
            messagingSenderId: "544748712205"
          },
          pageTitle: 'window.location.href',
          theme: 'light',
          // theme: 'dark',
          // locale: 'en'
          locale: 'zh-CN'
        })
      </script>
      <script src="https://unpkg.com/wildfire/dist/wildfire.count.js"></script>
      <script src="https://unpkg.com/wildfire@0.3.8/dist/wildfire.auto.js"></script>
    </main>
  </div>
  {{ end }}