{{ if .PrevInSection  }}
<div class="container">
    <main>
      <div class="wildfire_thread"></div>
      <script type="text/javascript">
        var wildfireConfig = () => ({
          databaseProvider: 'firebase',
          databaseConfig: {
            apiKey: "AIzaSyAXyakr0urjPACEAkHx5kokcK166h6d4lY",
            authDomain: "wildfire-zsdycs.firebaseapp.com",
            databaseURL: "https://wildfire-zsdycs.firebaseio.com",
            projectId: "wildfire-zsdycs",
            storageBucket: "wildfire-zsdycs.appspot.com",
            messagingSenderId: "544748712205"
          },
          pageTitle: 'window.location.href',
          theme: 'light',
          // theme: 'dark',
          // locale: 'en'
          locale: 'zh-CN'
        })
      </script>
      <script src="/js/wildfire.auto.js"></script>
    </main>
  </div>
  {{ end }}