{{ partial "header.html" . }}
<p>
  <b>状态：404 ，</b>
  <ins>这是个错误。</ins>
</p>
<p>请求路径 <code></code> 在服务器中没有找到对应的资源。</p>
<figure class="image">
  <img
    src="https://lipk.oss-accelerate.aliyuncs.com/images/watchdog.gif"
    alt="404 not found"
    title="404 not found"
  />
</figure>
<script>
  document.querySelector('code').innerHTML = window.location.pathname;
</script>
<script async type="module">
  import PhotoSwipeLightbox from '/js/photoswipe-lightbox.esm.min.js';
  const options = {
    gallerySelector: 'article.main',
    childSelector: 'figure.image img',
    pswpModule: '/js/photoswipe.esm.min.js',
    pswpCSS: '/css/photoswipe.css',
  };
  const lightbox = new PhotoSwipeLightbox(options);
  lightbox.on('itemData', (item) => {
    const { itemData, index } = item;
    const { element } = itemData;
    const dataSource = [
      {
        title: '404 图片',
        msrc: 'https://lipk.oss-accelerate.aliyuncs.com/images/watchdog.gif',
        src: 'https://lipk.oss-accelerate.aliyuncs.com/preview/watchdog.gif',
        w: 364,
        h: 455,
      },
    ];

    itemData.src = dataSource[index].src;
    itemData.w = dataSource[index].w || element.naturalWidth;
    itemData.h = dataSource[index].h || element.naturalHeight;
    itemData.msrc = dataSource[index].msrc || dataSource[index].src;
    itemData.thumbCropped = true;
  });
  lightbox.init();
</script>
<div id="eof"><hr /></div>
{{ partial "footer.html" . }}
